@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=cyrillic');
html,
body {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 1180px;
}

body { 


    align-items: stretch;
    background: rgb(255, 255, 255);

    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    justify-content: flex-start;
}

.responsive {
    height: auto;
    max-height: 100%;
    max-width: 100%;
    width: auto;
}

input,
button {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}


/*-----header-----*/

header#main-header {
    background: rgb(255, 255, 255);
    padding: 20px 0;
}

{
    header#main-header .container
    align-items: ;
    display: flex;
    justify-content: space-between;
}

{
    header#main-header .logotype 
    flex-grow: 0;
    flex-shrink: 0;
    width: 300px;
}

header#main-header .phones {
    flex-grow: 0;
    flex-shrink: 0;
}

header#main-header .phones ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header#main-header .phones a {
    color: #333;
    font-size: 20px;
    text-decoration: none;
}

header#main-header .search {
    background: rgb(255, 255, 255);
    align-items: stretch;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    flex-shrink: 1;
    margin-left: 70px;
    margin-right: 70px;
}

header#main-header form input {
    border: 1px solid #CCC;
    border-right: none;
    flex-grow: 1;
    padding: 10px;
}

header#main-header form button {
    background: #9CC942;
    border: none;
    color: #FFF;
    padding: 10px 20px;
}


/*-----nav-----*/

#main-navigation {
    background: #FFF;
    border-top: 2px solid #9CC942;
}

#main-navigation ul {
    background: #FFF;
    align-items: stretch;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

#main-navigation a {
    color: #333;
    display: block;
    text-decoration: none;
    padding: 15px 40px;
}

#main-navigation a:hover {
    background: #9CC942;
    color: #FFF;
}


/*-----nav-----*/

main .container>.title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}


/*----home----*/

#home-news {
    background: #EFEFEF;
    padding: 40px 0;
}

#home-news .block-news-list {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: -10px;
    margin-right: -10px;
}

#home-news .block-news-list .block-news-item {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: calc(33.33% - 20px);
}


/*----home----*/


/*-----footer-----*/

footer#main-footer {
    background: #686868;
    color: #FFF;
    margin-top: auto;
    padding: 40px 0 0;
}

footer#main-footer .container {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

footer#main-footer .contacts {
    margin-left: auto;
}

footer#main-footer nav {
    margin-right: 40px;
}

footer#main-footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer#main-footer a {
    color: #FFF;
    text-decoration: none;
}

footer#main-footer .copyright {
    color: #EFEFEF;
    font-size: 12px;
    margin-top: 40px;
    padding: 10px 0 20px;
    text-align: center;
    width: 100%;
}


/*----news---*/

.block-news-item {
    align-items: stretch;
    background: #FFF;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.block-news-item .image {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}

.block-news-item .image img {
    width: 0;
    height: 0;
}

.block-news-item .title {
    padding: 10px 20px;
}

.block-news-item .title a {
    color: #33390A;
    font-size: 20px;
    text-decoration: none;
}

.block-news-item .description {
    font-size: 14px;
    padding: 20px;
}

.block-news-item .links {
    display: flex;
    margin-top: auto;
    justify-content: space-between;
    padding: 10px 20px 20px;
}

.block-news-item .links a {
    border-bottom: 1px dashed #33390A;
    color: #33390A;
    text-decoration: none;
}